@model Stripe.Controllers.CustomerPaymentViewModel

@if (ViewBag.Message != null)
{
    <div class="alert alert-info">
        <p>ViewBag.Message</p>
    </div>
}

<div class="col-lg-12">

    @if (Model.Subscriptions == null || !Model.Subscriptions.Any())
    {
        <h2>There are no subscriptions for now</h2>
    }
    else
    {

        <table class="table table-striped">
            <thead>
            <tr>
                <td>Subscription Name</td>
                <td>Currency</td>
                <td>Amount</td>
                <td>Status</td>
                <td></td>
            </tr>
            </thead>

            <tbody>
            @foreach (var subscription in Model.Subscriptions)
            {
                <tr>
                    <td>@subscription.Name</td>
                    <td>@subscription.Currency</td>
                    <td>@(subscription.Amount / 100)</td>
                    <td>@subscription.Status</td>
                    <td><a class="btn btn-primary" asp-action="Delete" asp-route-subscriptionId=@subscription.Id>Delete</a></td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>
<a asp-action="NewSubscription" asp-controller="Manage" class="btn btn-default">Add New Subscription</a>
