@using Microsoft.AspNetCore.Mvc.Rendering
@model Donation

@{
    ViewData["Title"] = "Index";
}
@inject IDonationService DonationService

<h2>Billing</h2>
<br />

@Html.Partial("_Subscriptions", DonationService.GetSubScriptions(Model.UserId))
<br />
@Html.Partial("_PaymentDetails", DonationService.GetPaymentDetails(Model.UserId))


