@using Microsoft.AspNetCore.Mvc.Rendering
@using Stripe.Models
@{
    ViewBag.Title = "Index";
}

<h2>Billing</h2>
<br />
@Html.Partial("_Subscriptions", (List<Subscription>)ViewBag.Subscriptions)
<br />
@Html.Partial("_PaymentDetails", (CreditCard)ViewBag.PaymentDetails)
