@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.Extensions.Options
@inject IOptions<StripeSettings> Stripe

<div class="container">
    <div class="row">
        <div class=" col-md-4">
            <h5>Sign up once and watch any of our free demos.</h5>


            <form asp-action="Charge" asp-controller="Donation" method="POST">
                <article>
                    <label>Amount: $5.00</label>
                </article>
                <script src="//checkout.stripe.com/v2/checkout.js"
                        class="stripe-button"
                        data-key="@Stripe.Value.PublishableKey"
                        data-locale="auto"
                        data-description="Sample Charge"
                        data-amount="500">
                </script>
            </form>
        </div>
    </div>
</div>