@model DonationViewModel

@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.Extensions.Options
@inject IOptions<StripeSettings> Stripe

<form asp-action="Charge" asp-controller="Donation"  method="POST">
    <article>
        <label>Amount: $5.00</label>
    </article>
    <script src="//checkout.stripe.com/v2/checkout.js"
            class="stripe-button"
            data-key="@Stripe.Value.PublishableKey"
            data-locale="auto"
            data-email=""
            data-description=@model.Reason
            data-amount="500">
    </script>
</form>